body, p, h1, ul, li {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
    background: #E7E4D8;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    background: #D6D3C8;
    padding: 20px;
}

/* CLEAR FIX FLOAT */
.header::after, .header::before {
    content: '';
    display: table;
    clear: both;
}
/* FIM DO CLEAR FIX FLOAT */

.header-logo {
    float: left;
}

.header-menu ul {
    float: right;
}

.header-menu ul li {
    display: inline-block;
}

.header-menu ul li a {
    color: #252525;
    font-size: 1.125em;
    padding: 0 10px;
}

.header-menu ul li:first-child a {
    padding-left: 0px;
}

/* MAIN */

/* SIDE NAV */

.side-nav {
    width: 300px;
    background: #252525;
    float: left;
}

.side-nav ul li a {
    display: block;
    color: #FFF;
    border-bottom: 2px solid #484846;
    font-size: 1.125em;
    padding: 20px;
}